* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  height: 100rem;
}

.presenter {
  background-image: url("https://i.pinimg.com/564x/8d/84/9f/8d849f06cdf6ba03f72d24edaf711053.jpg");
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
}
