.breed-list {
  list-style: none;
  text-align: left;
  overflow-y: auto;
  max-height: 85.63vh;

  &-item {
    margin-left: 1.5rem;
    font-weight: normal;
    cursor: default;
    padding: 0.1rem;
    text-transform: capitalize;

    :hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
}

*::-webkit-scrollbar {
  width: 0.3vw;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid #f1b84e;
}

@media (max-width: 565px) {
  .breed-list-item {
    width: 90%;
    text-align: center;
  }
}
