.dogs-list-container{
    width: 25%;
    height:50rem;
    overflow-y:scroll;
    
    ul {
      list-style: none;
      text-align: center;
    }
    
    li {
      margin: 0.7rem;
      font-size: 0.8rem; 
      
      &:hover {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }