.dog-photo-container {
    background-color: #b8dbe9;
    text-align:center;
    flex: 1;
    background: url('https://i.pinimg.com/564x/8d/84/9f/8d849f06cdf6ba03f72d24edaf711053.jpg');
    
}
.dog-img {
    margin: 2rem;
    max-width: 50vw;
    max-height: 50vh;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    transition: transform 0.1s;

    p {
    margin: 2rem;
    }

  }