.footer-container {
    width: 100%;
    background-color:#dfaca8;
    height: 3rem;
    border-top: 2px solid #818181;

    p{
        font-size: 0.6rem;
        text-align: center;
        padding:0.3rem;
    }
}