.header {
    text-align: center;
    background-color:rgb(186, 212, 212);
    width: 100%;
    
    h1 {
      padding: 1rem;
      font-size: 2.5rem;
    }
    p {
      padding: 0.5rem;
    }
  }
  